# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-selfcheck.json
.tox/
.eggs/
*.egg-info/
*.egg

# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Environment variables
.env

# Build artifacts
build/
dist/
*.log
